@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}

body {
    height: 100%;
    background-color: #212121;
}

a {
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    color: rgb(255, 255, 255);   
}

img {
    transition: .2s;
}
img:hover {
    box-shadow: 0px 0px 8px #ffffff18;
    transform: scale(1.05);
}

h1, h3, p {
    color: rgba(255, 255, 255, 0.9);
}

button {
    color: white;
}

button:hover, form .btn-enviar input:hover {
    box-shadow: 0px 0px 8px #ffffff18;
    transform: scale(1.05);
}
.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    background-color: black;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}


.container {
    max-width: 1240px;
    margin: 0 auto;
}

/* Estilos header */

header {
    display: flex;
    justify-content: space-between;
    max-height: 15vh;
    max-width: 1240px;
    margin: 0 auto;
}
.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo a {
    cursor: pointer;
}
.logo img{
    max-height: 10vh;
    max-width: 12vh;
    border-radius: 10px;
    margin-top: 10px;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav ul{
    display: flex;
    gap: 100px;
}
.nav li {
    list-style: none;
}

/* Estilos inicio */

.inicio {
    display: flex;
    max-height: 550px;
}

.img-inicio img {
    max-height: 550px;
    border-radius: 2%;
}

.texto-inicio {
    margin-top: 20px;
}
.texto-inicio h1 {
    font-size: 50px;
    line-height: 45px;
    margin-bottom: 10px;
}
.texto-inicio h3 {
    font-size: 24px;
    margin-bottom: 30px;
}
.texto-inicio p {
    font-size: 18px;
}

.contato {
    margin-top: 60px;
}
.contato img {
    max-height: 40px;
    border-radius: 15%;
}


/* Estilos footer*/

footer {
    max-width: 1240px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 40px 4%;
    box-shadow: 0px 0px 40px 10px #ffffff18;
    border-radius: 10px 10px 0 0;
}
footer .flex {
    display: flex;
    justify-content: space-between;
}
footer .line-footer {
    padding: 20px 0;
}
.borda {
    border-top: 2px solid #000000;
}
footer .line-footer p i {
    color: #000000;
    font-size: 22px;
}
footer .line-footer p a {
    color: white;
    text-decoration: none;
}
footer .line-footer p a:hover {
    text-decoration: underline;
}
footer .logo-footer img {
    max-height: 90px;
    max-width: 100px;
    border-radius: 10px;
}

@media screen and (max-width: 1114px){
    /* MENU CABECALHO */
    header nav.nav{
        display: none;
    }
    header .logo {
        margin: 10px auto;
    }
    header .logo img{
        height: 100px;
        width: 100px;
    }

    /* INICIO*/

    .inicio{
        flex-direction: column;
        margin: 0 25px;
    }
    .inicio .img-inicio img {
        display: none;
    }

    .container {
        max-height: 500vh;
        margin-bottom: 350px;
    }

    /* FOOTER */
    footer {
        margin-top: 50px;
    }
    footer .flex {
        gap: 30px;
    }
    footer .line-footer {
        text-align: center;
    }
}
